<% if flash[:notice] %>
<div class="success alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<h1><%= @property.title %></h1>
<p>Descrição: <%= @property.description %></p>
<p>Localidade: <%= @property.property_location %></p>

<h2>Detalhes</h2>
<dl>
  <dt>Tamanho:</dt>
  <dd><%= @property.area %> m2</dd>
  <dt>Tipo do imóvel</dt>
  <dd><%= @property.property_type %></dd>
  <dt>Quantidade de quartos</dt>
  <dd><%= @property.rooms %></dd>
  <dt>Máximo de pessoas</dt>
  <dd><%= @property.maximum_occupancy %></dd>
  <dt>Mínimo de dias para locação</dt>
  <dd><%= @property.minimum_rent_days %></dd>
  <dt>Máximo de dias para locação</dt>
  <dd><%= @property.maximum_rent_days %></dd>
  <dt>Valor padrão da diária</dt>
  <dd id="current-season-price"><%= number_to_currency(@property.current_season_price) %></dd>
  <dt>Valor atual da diária</dt>
  <dd><%= number_to_currency(@property.daily_rate) %></dd>
  <dt>Regras de uso:</dt>
  <dd><%= @property.usage_rules %></dd>
</dl>
<h3>Foto do local</h3>
<%= @property.photo %>

<h3>Temporadas cadastradas:</h3>
<div class="row-fluid">
  <% @property.seasons.each do |season| %>
    <div class="col-md-4">
      <h4><%= season.name %></h4>
      <dl>
        <dt>Data início</dt> <dd><%= l season.start_date %></dd>
        <dt>Data fim</dt> <dd><%= l season.end_date %></dd>
        <dt>Preço da diaria</dt> <dd><%= number_to_currency(season.daily_rate) %></dd>
      </dl>
    </div>
  <% end %>
</div>

<hr>

<%= link_to 'Enviar proposta', new_property_proposal_path(@property), class: "btn btn-primary" %>
<%= link_to 'Cadastrar preço especifico para uma temporada', new_property_season_path(@property) %>
